
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Dashboard</title>
</head>
<body>
    <h1>Registrar Dashboard</h1>
    <p>Welcome, {{ user.username }}!</p>
    <ul>
        <li><a href="{% url 'register-student' %}">Register New Student</a></li>
        <li><a href="/students/">View All Students</a></li>
        <li> <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form></li>
    </ul>
</body>
</html>

